*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(to right, rgb(35, 35, 63), rgb(137, 141, 137));
}
header{
    padding: 20px;
    background:linear-gradient( to right, blue, white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 7px black;
    

}
header ul{

    display: flex;
    list-style: none;
    

}
header ul li{
    padding: 8px;
    font-size: 14pt;
}
header ul li a{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    text-shadow: 4px 4px 7px black;

    
}
@keyframes mudar{
    25%{border:3px solid red;}
    50%{border:3px solid rgb(12, 116, 12);}
    100%{border:3px solid yellow;}
}

@keyframes cor{
    25%{color: red;}
    50%{color:green;}
    100%{color:black;}
}
main .bem{
    background: linear-gradient(to right, rgb(255, 254, 254), rgb(14, 54, 14));
    color: blue;
    text-shadow: 4px 4px 7px black;
    width: 50%;
    padding: 40px; ;
    text-align: center;
    margin-top: 1%;
    margin-left:23% ;
    border-radius: 19px;
    box-shadow: 5px 5px 7px black;



}
main .bem h1{
    animation: cor ease 1s infinite alternate;
}
main .fazer{
    width: 70%;
   margin-top: 4%;
    margin-left:13% ;
    padding: 30px;
     background: linear-gradient(to right, rgb(151, 150, 150), rgb(112, 129, 112));
     display:content;
     align-items: center;
     border-radius: 18px;
     box-shadow: px 1px 2px black;


}
main .fazer .consulta{
    padding: 10px;
    background: rgb(252, 250, 250);
    border-radius: 9px;
    text-align: center;
    box-shadow: 5px 5px 7px black;
    


}
main .fazer .analise{
    padding: 10px;
    background: rgb(252, 250, 250);
    border-radius: 9px;
    text-align: center;
    box-shadow: 5px 5px 7px black;
    


}
main button{
    padding: 7px;
    width: 70%;
    background-color: rgb(5, 56, 48);
    color: white;
    box-shadow: 5px 5px 7px black;
    border-radius: 20px;

}
footer{
    background: rgb(16, 27, 16);
    color: white;
    text-align: center;
    padding: 6px;
    
}
footer img{
    width: 30px;
    height: 30px;
}

.conteiner{
   background: linear-gradient(to right, blue, green);

}
